*{
    margin: 0%;
    padding: 0%;
    background-color: #E0B13D ;
    font-size: 2vmax;
    font-family: braga;
}


@font-face{
    font-family:titulo;
    src: url(titulo.ttf)
} 

@font-face{
    font-family: braga;
    src: url(Braga.otf);
}

@font-face{
    font-family: chanel;
    src: url(Channel.ttf);
}

h1{
    font-family: titulo;
    background-color: white;
    font-size: 5vmax;
    text-align: center;
}

h2{
    color: #10369C;
    font-family: chanel;

}

input{
    background-color: white;
}


img{ 
    float: right;
    width: 18vmax;
    height: 18vmax;
    margin-right: 20;
    left: 80px;
    top: 10px;
}


@media (max-width: 780px){

    img{
        display: block;
        float: left;
    }
    
     .padre{
    display: flex;
    flex-direction: column;
    
    }
    

    button{
        width: 5vmax;
        height: 5vmin;
        font-size: 0.8em;
        background-color: white;
    }
    
   
}

@media (max-width: 480px) {

        body{
            text-align: center;
        }

        img{
            display: inline;
            transform: translateX( 140%);
           
        }
}


